.brand-name{
    font-size: 40px;
    color: rgb(113, 28, 193);
    font-weight: bold;
    text-decoration: none;
}

a:link, a:visited, a:active {
    text-decoration:none;
}

.menu_link{
    padding: 15px;
    text-decoration: none;
    color: black;
}

